/* reset html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide content wrapper */
#content {
  display: none;
}

/* main */
.main-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.welcome h2 {
  margin: 0;
  font-size: 20px;
  color: #1e45c5;
}

/*home*/
#info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/*status*/
.status-overview {
  flex-direction: column;
  text-align: center;
  gap: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.status-cards {
  display: inline-block;
  background-color: transparent;
  border: 1pz solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 0px;
  font-size: 16px;
  text-align: center;
}

.status-cards span {
  display: block;
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 auto;
  width: fit-content;
}

/*Book room*/
#book-room-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#book-room-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 50%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-room-btn {
  margin-left: 25%;
  height: 50px;
  width: 100px;
  background-color: #4caf50;
  color: white;
  color: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20;
}

.book-room-btn:hover {
  background-color: #45a049;
}


/*Bookings table links*/
.booking-status-link,
.edit-booking-link {
  color: #3a7ca5;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.menu-group:hover,
.booking-status-link:hover,
.edit-booking-link:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.menu-group:hover,
.booking-status-link:active,
.edit-booking-link:active {
  color: #003f7f;
}

.menu-group {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
