<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reception</title>
	<link rel="stylesheet" href="{% static 'booking/css/booking_main_style.css' %}" />
  <link rel="stylesheet" href="{% static 'booking/css/table.css' %}" />
</head>

<body>
	<header class="nav-bar">
		<div class="container">
			<h1>Reception</h1>
			<nav>
				<ul class="nav-links">
					<li><a href="#" id="home-link">Home</a></li>
					<li><a href="#" id="book-room-link">Book Room</a></li>
          <li><a href="#" id="bookings-link">Bookings</a></li>
					<li><a href="#" id="view-rooms-link">Rooms</a></li>
					<!--Add notitfication icon-->
					<a href="{% url 'login:logout' %}" class="logout-btn">Logout</a>
				</ul>
			</nav>
		</div>
	</header>

	<div id="content-wrapper">
  <!-- Home Section -->
  <div id="home-section" class="main-body" style="display: block;">
    <div class="welcome">
        <h2>Welcome, {{ user_name }}</h2>
      <p>Today is <span id="current-date"></span></p>
    </div>
  </div>

  <div id="info-section" class="info-section" style="display: block;">
    <div class="status-overview">
      <h3>Room Status</h3>
      <div class="status-cards"><span>Total Rooms: {{ total_rooms }} </span></div>
      <div class="status-cards"><span>Available Rooms: {{ available_count }}</span> </div>
      <div class="status-cards"><span>Booked Rooms: {{ booked_count }} </span> </div>
    </div>

    <div class="search">
      <h3>Search Booking</h3>
      <input type="text" placeholder="Enter Room Number">
      <button class="search-btn">Search</button>
    </div>
  </div>

  <!--bookings-->
  <div id="bookings-section" style="display: none;">
    <h1>Bookings</h1> 
    <table class="listing-table">
      <thead>
        <tr>
          <th>Booking</th>
          <th>First Name</th>
          <th>Phone Number</th>
          <th>Room Number</th>
          <th>Booking Status</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in booking_data %}
        <tr>
          <td>
            <a id="booking_id" href="#" data-booking-id="{{ booking.0 }}" class="edit-booking-link">{{ booking.0 }}</a>
            <div id="booking-menu_{{ booking.0 }}" class="booking-menu" style="display: none;">
              <a href=" {% url 'booking:edit_booking' booking.0 %}">Edit Booking</a>
              <a href=" {% url 'booking:room_service' booking.0 %}">Room Service</a>
              <a href=" {% url 'booking:payments' booking.0 %}">Payments</a>
            </div>
          </td>
          <td>{{ booking.1 }}</td>
          <td>{{ booking.2 }}</td>
          <td>{{ booking.3 }}</td>
          <td>
            <a href="" data-booking-id= "{{ booking.0 }}" class="booking-status-link">{{ booking.4 }}</a>
            <div id="status-menu_{{ booking.0 }}" class="booking-menu" style="display: none;">
              <a href="{% url 'booking:check_in' booking.0 %}">Check-In</a>
              <a href="{% url 'booking:check_out' booking.0 %}">Check-Out</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <!--Book a Room-->
  <div id="book-room-section" class="book-room" style="display: none;">
    <h3>Book a Room</h3>
    <!-- Content for Book Room Section -->
    <form id="book-room-form" action="{% url 'booking:book_room' %}" method="POST">
      {% csrf_token %}
      <!--Guest Name-->
      <div class="form-group">
        <label for="guest-name">Guest Name: </label>
        <input type="text" id="guest_first_name" name="first_name" placeholder="First Name" required />
      </div>
      <div class="form-group">
        <label for="guest-name">Guest Name: </label>
        <input type="text" id="guest_last_name" name="last_name" placeholder="Last Name" required />
      </div>
      <!--Contact Info--> 
      <div class="form-group">
        <label for="contact-number">Phone Number: </label>
        <input type="text" id="contact-number" name="phone_number" placeholder="Phone Number" required />
      </div> 
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" placeholder="Enter Email" />
      </div> 
      <!--Check-In Date-->
      <div class="form-group">
        <label for="check-in-date">Check-In Date: </label>
        <input type="date" name="check_in_date" id="check-in-date" required />
      </div> 
      <!--Check-Out Date-->
      <div class="form-group">
        <label for="check-out-date">Check-Out Date: </label>
        <input type="date" name="check_out_date" id="check-out-date" required />
      </div>
      <!--Room Number-->
      <div class="form-group">
        <label for="room-number">Room Number: </label>
        <select id = "room-number" name="room_number" required>
          <option value="" disable selected>Select Room</option>
          {% for room in rooms %}
            <option value="{{ room.room_number }}">{{ room.room_number }}</option>	
          {% endfor %}
        </select>
      </div>

      <!--Submit Button-->
      <button type="submit" class="book-room-btn">Book Room</Button>
    </form>

    <!--feedback message-->
    <div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert: {{ message.tags }}"> {{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <!--View Rooms-->
  <div id="view-rooms-section" class="view-rooms" style="display: none;">
    <h3>Rooms Overview</h3>
      <table class="listing-table">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Type</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for room in all_rooms %}
            <tr>
              <td>{{ room.room_number }}</td>
              <td>{{ room.room_type }}</td>
              <td>{{ room.price }}</td>
              <td>{{ room.room_status }}</td>
            </tr>
          {% endfor %}
         </tbody>
      </table>
  </div>
	</div>

  <script src="{% static 'booking/js/reception_tabs.js' %}"></script>
  <script src="{% static 'booking/js/booking_payment_service.js' %}"></script>
</body>

</html>
