<!DOCTYPE html>
{% load static %}

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Booking</title>
  <link rel="stylesheet" href="{% static 'booking/css/booking_sevice_payment.css' %}">
</head>

<body>
  <div class="view">
    <div class="container">
      <h2><a href="{% url 'booking:home' %}" id="return-home">Booking</a></h2>
      <form id="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Booking: </label>
          <span>{{ booking.booking_id }}</span>
        </div>

        <div class="form-group">
          <label>Name: </label>
          <span>{{ booking.guest.first_name }} {{booking.guest.last_name}}</span>
        </div>

        <div class="form-group">
          <label>Phone Number: </label>
          <span>{{ booking.guest.phone_number }}</span>
        </div>

        <div class="form-group">
          <label>Email: </label>
          <span>{{ booking.guest.email }}</span>
        </div>


       <div class="form-group">
          <label>Check-In-Date: </label>
          <input type="date" name="check_in_date" value="{{ booking.check_in_date|date:'Y-m-d' }}">
        </div>

        <div class="form-group">
          <label>Check-Out-Date: </label>
          <input type="date" name="check_out_date" value="{{ booking.check_out_date|date:'Y-m-d' }}">
        </div>

        <div class="form-group">
          <label>Room Number: </label>
          <select id="room-number" name="room_number">
            <option value="" disable selected>Select Room</option>
            {% for room in available_rooms %}
            <option value="{{ room.room_number }}">{{ room.room_number }}</option>
            {% endfor %}
          </select>

        </div>

        <button class="submit-btn" type="submit">Modify</button>
      </form>
    </div>
  </div>
</body>

</html>
