<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Booking Home</title>
	<link rel="stylesheet" href="{% static 'booking/css/booking_main_style.css' %}" />
</head>

<body>
	<header class="nav-bar">
		<div class="container">
			<h1>Booking</h1>
			<nav>
				<ul class="nav-links">
					<li><a href="#" id="home-link">Home</a></li>
					<li><a href="#" id="book-room-link">Book Room</a></li>
					<li><a href="#" id="view-rooms-link">View Rooms</a></li>

					<a href="#logout" class="logout-btn">Logout</a>
				</ul>
			</nav>
		</div>
	</header>

<div id="content-wrapper">
	<div class="main-body" >
		<div class="welcome">
			<h2>Welcome, Receptionist</h2>
			<p>Today is <span id="current-date"></span></p>
		</div>
	</div>

	<div class="info-section">
		<div class="status-overview">
			<h3>Room Status</h3>
				<div class="status-cards"><span>Total Rooms: 15 </span></div>
				<div class="status-cards"><span>Availale Rooms: 10</span> </div>
				<div class="status-cards"><span>Booked Rooms: 5</span> </div>
		</div>

		<div class="search">
			<h3>Search Booking</h3>
			<input type="text" placeholder="Enter Room Number">
			<button class="search-btn">Search</button> <!--Replace with Search Icon-->
		</div>
	</div>		

		
	<div class="book-room" >
		<h3>Book Room</h3>
		 
	</div>
</div>
<script src="{% static 'booking/js/bookin_main.js' %}"> </script>
</body>

</html>
