<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Room Service</title>
  <link rel="stylesheet" href="{% static 'booking/css/booking_sevice_payment.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
</head>

<body>
  <div class="view">
    <div class="container">
      <h2><a href={% url 'booking:home' %} id="return-home">Booking</a></h2>
      <form id="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Booking Id: </label>
          <span>{{ booking.booking_id }}</span>
        </div>

        <div class="form-group">
          <label>Name: </label>
          <span>{{ guest_name }}</span>
        </div>

        <div class="form-group">
          <label>Phone Number: </label>
          <span>{{ phone_number }}</span>
        </div>

        <div class="form-group">
          <label>Room Number: </label>
          <span>{{ room }}</span>
        </div>

        <div class="form-group">
          <label for="service">Service Name: </label>
          <select id="service" name="service_id">
            <option value="" disable selected>Select Service</option>
            {% for service in services %}
            <option value="{{ service.service_id }}">{{ service.service_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>Quantity: </label>
          <input type="number" name="quantity" min="1" value="1" required>
        </div>

        <button class="submit-btn" type="submit">Order Service</button>
      </form>
    </div>

    <div class="used-services-list">
      <table class="listing-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Ordered Date</th>
          </tr>
        </thead>
        <tbody>
          {% for service in used_services %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ service.service_id.service_name }}</td>
            <td>{{ service.quantity }}</td>
            <td>{{ service.ordered_on }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No Services Ordered.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
