<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Payments</title>
  <link rel="stylesheet" href="{% static 'booking/css/booking_sevice_payment.css' %}" />
  <link rel="stylesheet" href="{% static 'booking/css/table.css' %}" />
  <link rel="stylesheet" href="{% static 'booking/css/view_payments.css' %}" />
</head>

<body>
  <h1>Payments</h1>
  <a href="{% url 'booking:home' %}">Home</a>
  <div class="payments-table">
    <table class="listing-table">
      <thead>
      <tr>
        <th>No.</th>
        <th>Type</th>
        <th>Service/Booking</th>
        <th>Amount</th>
        <th>Payment Status</th>
      </tr>
      </thead>
      <tbody>
        {% for payment in service_payments %}
        <tr data-service-payment-id="{{ payment.payment_id }}">
          <td>{{ forloop.counter }}</td>
          <td>Service</td>
          <td>{{ payment.service_id.service_name }}</td>
          <td>{{ payment.total_amount }}</td>
          <td>{{ payment.payment_status }}</td>
        </tr>
        {% endfor %}

        {% for payment in booking_payments %}
        <tr data-booking-payment-id="{{ payment.payment_id }}">
          <td>{{ forloop.counter }}</td>
          <td>Booking</td>
          <td>Room Booking</td>
          <td>{{ payment.total_amount }}</td>
          <td>{{ payment.payment_status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="payments-section" class="process-payments" style="display: none;">
    
    <div class="view">
      <div class="container">
        <h2>Process Payment</h2>

        <form action="{% url 'transaction:reception_payment' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <label>Room: </label>
          <span>{{ room_number }}</span>
          <label>Service Name: </label>
          <span id="service-name"></span>
          <label>Amount: </label>
          <span id="amount"></span>
        </div>

        <!--Hidden Inputs-->
        <input type="hidden" id="booking-payment-id" name="booking_payment_id" value="">
        <input type="hidden" id="service-payment-id" name="service_payment_id" value="">
        <input type="hidden" id="payment-id" name="payment_id" value="">
        <input type="hidden" id="payment-amount" name="payed_amount" value="">
        <input type="hidden" id="payment-type" name="payment_type" value="">

				<!--Payment Method-->
			  <div class="form-group">
  				<label for="payment-method">Payment Method: </label>
	  			<select id="payment-method" name="payment_method" >
		  		  <option value="" disabled selected>Select Payment Method</option> 
			  	  <option value="cash">Cash</option>
				  	<option value="card">Card</option>
				    <option value="mobile-banking">Mobile Banking</option>
  			  </select>
	  	  </div> 
		
				  <!--Dynamic Mobile Banking Field-->
		  	<div id="mobile-banking-fields" style="display: none;">
			  	<div class="form-group">
				  	<label for="bank-name">Bank Name: </label>
					  <input type="text" id="bank-name" name="bank_name" placeholder="Enter Bank Name"/>
  				</div>
			  </div>

        <button class="submit-btn" type="submit">Pay</button>
       </form>
      </div>
    </div>
  </div>
  <script src="{% static 'booking/js/payments.js' %}"></script>
</body>

</html>
