<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}" />
</head>

<body>
  <div class="loginbox">
    <img src="{% static 'login/images/Avatar.jpeg' %}" class="logo" />
    <h1>Sign In</h1>
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}

      <form action="{% url 'login:login' %}" method = "post">
      {%csrf_token%}
      <p>Username</p>
      <input type="text" name="employee_id" placeholder="Enter Username" />
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password" />
      <input type="submit" name="" value="Login" />
    </form>
    {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
    {% endif %}

  </div>
</body>

</html>
