<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Employee</title>
  <link rel="stylesheet" href="{% static 'manager/css/add_employee.css' %}">
</head>

<body>
  <div class="view">
  <div class="container">
    <h2>New Employee Form</h2>
  <form class="add-employee-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-btn">Add Employee</button>
    </form>
  </div>
  </div>
</body>

</html>
