<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager</title>
    <link rel="stylesheet" href="{% static 'manager/css/manager_main_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/reception-tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
  </head>

  <body>

    <header class="nav-bar">
		  <div class="container">
		  	<h1 class="logo">Manager</h1>

			  <nav>
				  <ul class="nav-links">
            <li><a href="#" id="home-link">Home</a></li>
            <li><a href="#" id="employees-link">Employees</a></li>
            <li><a href="#" id="reception-link">Reception</a></li>
            <li><a href="#" id="reports-link">Report</a></li>
				  </ul>
			  </nav>

        <form action="{% url 'booking:search_booking' %}" method="GET">
          <div class="search-container" id="search-container">
            <div class="search-bar-container">
              <input type="text" name="phone_number" placeholder="Search..." required id="search-bar" class="search-bar" />
            </div>

            <div class="search-icon-container">
              <img src="{% static 'icons/search-icon/icons8-search-50.svg' %}" 
              alt="Search Icon" 
              id="search" 
              class="search-icon" 
              >
            </div>
          </div>
        </form>

        <div class="settings-dropdown">
          <img src="{% static 'icons/notification-icon/icons8-notification-50.svg' %}" alt="Notification Icon" class="notification-icon">
          <img src="{% static 'icons/settings-icon/icons8-settings-50.svg' %}" 
            alt="Settings Icon" 
            class="settings-icon"
            onclick="toggleDropdown()"
          >

          <div class='dropdown-menu' id="dropdown-menu">
            <a href="#">Change Password</a>
            <hr>
					  <a href="{% url 'login:logout' %}" class="logout-btn">Logout</a>
          </div>
        </div>
		</div>
	</header>

    <div id="wrapper">
      <!-- Home Section -->
      <div id="home-section" class="main-body" style="display: block">
        <div class="welcome">
          <h2>Welcome, {{ user_name }}</h2>
          <p>Today is <span id="current-date"></span></p>
        </div>

        <!-- Overview Section -->
        <div id="info-section" class="info-section" style="display: block">
          <div class="status-overview">
            <h3>Quick Status</h3>
            <div class="status-cards"><span>Active Booking: 15 </span></div>
            <div class="status-cards"><span>On Duty Today: 10</span></div>
            <div class="status-cards"><span>Pending Requests: 0</span></div>
          </div>

          <div class="status-overview">
            <h3>Quick Status</h3>
            <div class="status-cards"><span>Active Booking: 15 </span></div>
            <div class="status-cards"><span>On Duty Today: 10</span></div>
            <div class="status-cards"><span>Pending Requests: 0</span></div>
          </div>

        </div>
      </div>

      <!--Employee-->
      <div id="employees-section" class="employee-manage" style="display: none">
        <h1>Employee</h1>
        <table class="listing-table">
          <thead>
            <tr>
              <th>No. </th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Sex</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in active_employees  %}
            <tr data-employee-id="{{ employee.employee_id }}">
              <td>{{ forloop.counter }}</td>
              <td>{{ employee.first_name }}  {{ employee.last_name }}</td>
              <td>{{ employee.phone_number }}</td>
              <td>{{ employee.sex }}</td>
              <td>{{ employee.role }}</td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="5">No Active Employees</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'manager:add_employee' %}">Add Employee</a>
      </div>

      <!--Receptions-->
      <div id="reception-section" class="employee-manage" style="display: none">
        <h1>Reception</h1>
        <div class="reception-section-table">
          <table class="listing-table">
            <thead>
              <tr>
                <th>Room No.</th>
                <th>Room Type</th>
                <th>Room Price</th>
                <th>Room Status</th>
              </tr>
            </thead>
            <tbody>
            {% for room in rooms  %}  
              <tr>
                <td>{{ room.room_number }}</td>
                <td>{{ room.room_type }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.room_status }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">No Active Employees</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          <a href="{% url 'manager:add_room' %}">Add Room</a>
        </div>

        <hr>

        <div class="reception-section-table">
          <table class="listing-table">
            <thead>
              <tr>
                <th>No. </th>
                <th>Service Name</th>
                <th>Service Price</th>
              </tr>
            </thead>
            <tbody>
            {% for service in services  %}  
              <tr>
                <td>{{ service.service_id }}</td>
                <td>{{ service.service_name }}</td>
                <td>{{ service.service_price }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">No Active Employees</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

          <a href="{% url 'manager:add_service' %}">Add Service</a>
        </div>
      </div>

      <!--Reports-->
      <div id="reports-section" class="employee-manage" style="display: none">
        <h1>Report</h1>

        <div class="report">
          <form id="report-form" method="GET" action="{% url 'manager:generate_report' %}">
            <label for="start_date">From: </label>
            <input type="date" id="start_date" name="start_date" required>

            <label for="end_date">To: </label>
            <input type="date" id="end_date" name="end_date" required>

            <button type="submit">Generate</button>
          </form>

          <div id="report-result">
            {% if transactions %}
              <table border="1">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Payment Type</th>
                    <th>Amount (ETB)</th>
                    <th>Date</th>
                    <th>Payment Method</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        {% if transaction.service_payment_id  %}
                          Service
                        {% else %}
                          Booking
                        {% endif %}
                      </td>
                      <td>{{ transaction.payed_amount }}</td>
                      <td>{{ transaction.transaction_date }}</td>
                      <td>{{ transaction.payment_method }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
              <a href="{% url 'manager:export_report' %}?start_date={{ start_date }}&end_date={{ end_date }}">
                <button>Download Excel</button>
              </a>
            {% else %}
              <p>No transactions Found</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="{% static 'js/nav-bar-toggles.js' %}"></script>
  <script src="{% static 'manager/js/manager_main_script.js' %}"></script>
  <script src="{% static 'js/dynamic_date.js' %}"></script>
  <script src="{% static 'manager/js/employees.js' %}"></script>
</html>
