<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Manager</title>

    <link rel="stylesheet" href="{% static 'manager/css/manager_main_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/manager_reception_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
  </head>

  <body>

    <header class="nav-bar">
		  <div class="container">
		  	<h1 class="logo">Manager</h1>

			  <nav>
				  <ul class="nav-links">
            <li><a href="#" id="home-link">Home</a></li>
            <li><a href="#" id="employees-link">Employees</a></li>
            <li><a href="#" id="reception-link">Reception</a></li>
            <li><a href="#" id="reports-link">Report</a></li>
				  </ul>
			  </nav>

        <form action="{% url 'booking:search_booking' %}" method="GET">
          <div class="search-container" id="search-container">
            <div class="search-bar-container">
              <input type="text" name="phone_number" placeholder="Search..." required id="search-bar" class="search-bar" />
            </div>

            <div class="search-icon-container">
              <img src="{% static 'icons/search-icon/icons8-search-50.svg' %}" 
              alt="Search Icon" 
              id="search" 
              class="search-icon" 
              >
            </div>
          </div>
        </form>

        <div class="settings-dropdown">
          <img src="{% static 'icons/notification-icon/icons8-notification-50.svg' %}" alt="Notification Icon" class="notification-icon">
          <img src="{% static 'icons/settings-icon/icons8-settings-50.svg' %}" 
            alt="Settings Icon" 
            class="settings-icon"
            onclick="toggleDropdown()"
          >

          <div class='dropdown-menu' id="dropdown-menu">
            <a href="#">Change Password</a>
            <hr>
					  <a href="{% url 'login:logout' %}" class="logout-btn">Logout</a>
          </div>
        </div>
		</div>
	</header>

    <div id="wrapper">
      <!-- Home Section -->
      <div id="home-section" class="main-body" style="display: block">
        <div class="welcome">
          <h2>Welcome, {{ user_name }}</h2>
          <p>Today is <span id="current-date"></span></p>
        </div>

        <!-- Overview Section -->
        <div id="info-section" class="info-section" style="display: block">
          <div class="status-overview">
            <h3>Quick Status</h3>
            <div class="status-cards"><span>Active Booking: 15 </span></div>
            <div class="status-cards"><span>On Duty Today: 10</span></div>
            <div class="status-cards"><span>Pending Requests: 0</span></div>
          </div>

          <div class="status-overview">
            <h3>Quick Status</h3>
            <div class="status-cards"><span>Active Booking: 15 </span></div>
            <div class="status-cards"><span>On Duty Today: 10</span></div>
            <div class="status-cards"><span>Pending Requests: 0</span></div>
          </div>

        </div>
      </div>

      <!--Employee-->
      <div id="employees-section" class="employee-manage" style="display: none">
        <h1>Employee</h1>
        <table class="listing-table">
          <thead>
            <tr>
              <th>No. </th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Sex</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in active_employees  %}  
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ employee.first_name }}  {{ employee.last_name }}</td>
              <td>{{ employee.phone_number }}</td>
              <td>{{ employee.sex }}</td>
              <td>{{ employee.role }}</td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="5">No Active Employees</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'manager:add_employee' %}">Add Employee</a>
      </div>

      <!--Receptions-->
      <div id="reception-section" class="employee-manage" style="display: none">
        <h1>Reception</h1>
        <div id="add-rooms" class="add-new">
          <form
            id="add-room-form"
            action="{% url 'manager:add_room' %}"
            class="add-form"
            method="POST"
            autocomplete="off"
          >
            {% csrf_token %}
            <div class="add-form-group">
              <label for="room_number">Room Number:</label>
              <input type="text" id="room_number" name="room_number" required />
            </div>

            <div class="add-form-group">
              <label for="room_type">Room Type:</label>
              <select id="room_type" name="room_type" required>
                <option value="Single">Single</option>
                <option value="Double">Double</option>
              </select>
            </div>

            <div class="add-form-group">
              <label for="price">Price:</label>
              <input
                type="number"
                id="price"
                name="price"
                step="0.01"
                required
              />
            </div>

            <div class="add-form-group">
              <label for="room_status">Room Status:</label>
              <select id="room_status" name="room_status" required>
                <option value="Available">Available</option>
                <option value="Booked">Booked</option>
                <option value="Maintenance">Maintenance</option>
              </select>
            </div>

            <button class="add-btn" type="submit">Add Room</button>
          </form>
        </div>

      <!-- Services -->
        <div id="add-service" class="add-new">
          <form
            id="add-service-form"
            action="{% url 'manager:add_service' %}"
            class="add-form"
            method="POST"
            autocomplete="off"
          >
            {% csrf_token %}
            <div class="add-form-group">
              <label for="service_name">Service Name: </label>
              <input type="text" id="service_name" name="service_name" required />
            </div>

            <div class="add-form-group">
              <label for="service_price">Price: </label>
              <input
                type="number"
                id="price"
                name="service_price"
                step="0.01"
                required
              />
            </div>

            <button class="add-btn" type="submit">Add Service</button>
          </form>
        </div>

      </div>

      <!--Reports-->
      <div id="reports-section" class="employee-manage" style="display: none">
        <h1>Report</h1>
      </div>
    </div>
  </body>

  <script src="{% static 'js/nav-bar-toggles.js' %}"></script>
  <script src="{% static 'manager/js/manager_main_script.js' %}"></script>
  <script src="{% static 'js/dynamic_date.js' %}"></script
</html>
