/*Add Rooms*/
#add-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-room-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.add-room-form-group{
    margin-bottom: 15px;
}

.add-room-form-group label {
    display: block;
	margin-bottom: 5px;
}

.add-room-form-group input, 
.add-room-form-group select {
    width: 50%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.add-room-btn {
    margin-left: 25%;
    height: 50px;
    width: 100px;
    background-color: #4caf50;
    color: #fff;
    color: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20;
}

.add-room-btn:hover { 
   background-color: #45a049;
}